.scroll-pane, .increment-arrow, .decrement-arrow {
    -fx-background-color:transparent;
    -fx-background:transparent;
}
.label {
    -fx-text-fill: white;
    -fx-background-color:transparent;
}
#themebtn {
    -fx-text-fill: white;
	-fx-background-color:transparent;
}
.scroll-bar:vertical{
    -fx-background-color: rgba(0,0,0,0.5);
    -fx-background-radius: 5em;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-background-radius: 5em;
}
.increment-button, .decrement-button {
    -fx-background-color: rgba(255,255,255,0.5);
        -fx-shape: "M 0 0 L 1 1 L 2 0 Z";   
}
.decrement-button {

    -fx-rotate: -180;
  
}
#themebtn, #text, #textIPT{	
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, black, 1, 0, 0, 0);
	-fx-background-color:transparent;
}

/*old text area-- css good for reference*/

.text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent;
    -fx-font-weight: bold;
	-fx-text-fill: white;
}
#warning{
	-fx-font-weight: bold;
	-fx-text-fill: red;
	-fx-effect: dropshadow(three-pass-box, black, 1, 0, 0, 0);		
}
#userNm{
	
	
}

