.Chat_Client_Desktop_App/src/implementations/images/1.png
.Chat_Client_Desktop_App/src/implementations/images/2.png
.Chat_Client_Desktop_App/src/implementations/images/3.png
.Chat_Client_Desktop_App/src/implementations/images/4.png
.Chat_Client_Desktop_App/src/implementations/images/5.png
.Chat_Client_Desktop_App/src/implementations/images/6.png
.Chat_Client_Desktop_App/src/implementations/images/7.png
.Chat_Client_Desktop_App/src/implementations/images/8.png
.Chat_Client_Desktop_App/src/implementations/images/9.png
.Chat_Client_Desktop_App/src/implementations/images/10.png
.Chat_Client_Desktop_App/src/implementations/images/11.png
